{
  "presets": ["es2015", "stage-1"],
  "plugins": [
    "add-module-exports",
    "transform-decorators-legacy",
    "transform-async-to-generator",
    ["transform-react-jsx", { "pragma": "ssml" }]
  ]
}
